<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <section class="pontos">
        <div class="request1">
            <div class="apresentation1 ">
                <div class="section-title reveal">
                    <span class="conheca">
                        <div class="line"></div>
                        <p>Conheça</p>
                    </span>
                    <div class="title-info">
                        <div class="title1">
                            <h2 class="main-title">
                                Saiba <br> como <br> funciona
                            </h2>
                        </div>
                    </div>
                    <div class="simple reveal">
                        <div class="category-box reveal">
                            <div class="category-ilustration">
                                <img src="assets/Img/motoboy/download.png" class="cat-img2"
                                    alt="Download do aplicativo BoyGo">
                            </div>
                            <div class="category-title2">
                                <p>Baixe</p>
                            </div>
                        </div>
                        <div class="category-box reveal">
                            <div class="category-ilustration">
                                <img src="assets/Img/motoboy/registre.png" class="cat-img2"
                                    alt="Cadastro no aplicativo da BoyGo">
                            </div>
                            <div class="category-title2">
                                <p>Cadastre-se</p>
                            </div>
                        </div>
                        <div class="category-box reveal">
                            <div class="category-ilustration">
                                <img src="assets/Img/motoboy/comece-a-entregar.png" class="cat-img2"
                                    alt="Início das entregas para a BoyGo">
                            </div>
                            <div class="category-title2">
                                <p>E já comece a entregar</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="link-section3">
                    <div class="logo-rodape reveal">
                        <a href="https://apps.apple.com/br/app/boygo/id1616420698" class="link-apple">
                            <img src="assets/Img/apple-store.png" class="apple-logo"
                                alt="Link para baixar o app na App Store">
                            <p class="logo-description">Faça o Download Aqui!</p>
                        </a>
                    </div>
                    <div class="logo-rodape reveal">
                        <a href="https://play.google.com/store/search?q=boygo&c=apps" class="link-playstore">
                            <img src="assets/Img/google-play.png" class="playstore-logo-full"
                                alt="Link para baixar o app na Play Store">
                            <p class="logo-description">Faça o Download Aqui!</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="apresentation-info">
                <p class="info-parag reveal">
                    Com BoyGo é rápido e prático. Baixe, cadastre-se e comece já a faturar. E mais: a cada entrega,
                    acumule pontos e troque por produtos.
                </p>
            </div>
            <div class="simple2">
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/loja do boy/pneu.png" class="cat-img2" alt="Pneu">
                    </div>
                    <div class="category-title2">
                        <p>Pneus</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/loja do boy/óleo.png" class="cat-img2" alt="Óleo">
                    </div>
                    <div class="category-title2">
                        <p>Óleo</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/loja do boy/relação.png" class="cat-img2" alt="Relação do automóvel">
                    </div>
                    <div class="category-title2">
                        <p>Relação</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/loja do boy/capacete.png" class="cat-img2" alt="Capacete">
                    </div>
                    <div class="category-title2">
                        <p>Capacete</p>
                    </div>
                </div>
            </div>
            <div class="much-more">
                <p class="reveal">
                    E muito mais...
                </p>
            </div>
            <div class="sub-title1">
                <div class="com-BG reveal">
                    <p>com <br> BoyGo</p>
                </div>
                <span class="letter-e reveal">
                    <p class="is">é</p>
                </span>
                <div class="time-sales2 reveal">
                    <p>ganhar pontos <br>
                        para a troca de <br>
                        benefícios e <br>
                        produtos</p>
                </div>
            </div>

            <div class="content-section1">
                <div class="local-btn reveal">
                    <a href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro" target="_blank"
                        rel="noreferrer noopeneer" class="link-btn1">
                        Cadastre-se agora e já comece a usar
                    </a>
                </div>
            </div>

        </div>
    </section>
    <section class="saque">
        <div class="request4">
            <div class="apresentation1">
                <div class="section-title2">
                    <span class="conheca reveal">
                        <div class="line"></div>
                        <p>Conheça</p>
                    </span>
                    <div class="title-info reveal">
                        <div class="title1">
                            <h2 class="main-title">
                                Bora <br>
                                Correr?
                            </h2>
                        </div>
                    </div>
                    <div class="saque-info reveal">
                        <p class="saque-parag">
                            Preencha o formulário e já comece a entregar.
                        </p>
                    </div>

                    <div class="local-btn2 reveal">
                        <a href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro" target="_blank"
                            rel="noreferrer noopeneer" class="link-btn2">
                            Cadastre-se agora e já comece a usar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="duplo">
        <div class="request5">
            <div class="apresentation1">
                <div class="section-title2">
                    <span class="conheca reveal">
                        <div class="line"></div>
                        <p>Conheça</p>
                    </span>
                    <div class="title-info reveal">
                        <div class="title1">
                            <h2 class="main-title">
                                Entregou?
                            </h2>
                        </div>
                    </div>
                    <div class="saque-info reveal">
                        <p class="saque-parag">
                            Solicite o saque e receba via Pix
                        </p>
                    </div>
                </div>
            </div>
            <div class="bandeira-title reveal">
                <p># BANDEIRA2</p>
            </div>
            <div class="subtitle-bandeira reveal">
                <h3>Entregou na chuva? A pontuação é dobrada.</h3>
            </div>
            <div class="green-square2 reveal">
                <p class="green-parag2">
                    Aqui a sua pontuação é dobrada
                </p>
            </div>
        </div>
        <div class="request6">
            <div class="content-section3 reveal">
                <div class="inteli-parag">
                    Conforme a condição climática, o aplicativo contabiliza automaticamente o dobro da pontuação.
                </div>
                <div class="dots">. . . . . . . . . . </div>
            </div>
        </div>
    </section>

    <section class="taxinhas">
        <!-- <div class="request7">
            <div class="apresentation2">
                <div class="asterisco reveal">
                    <p class="ast">
                        *
                    </p>
                </div>
                <div class="title-central ">
                    <div class="upper-title-central reveal">
                        <h3>Aqui não</h3>
                    </div>
                    <div class="main-title-central reveal">
                        <h3>Existe</h3>
                    </div>
                    <div class="sub-title-central reveal">
                        <h3>
                            Asterisco muito <br>
                            menos taxinhas
                        </h3>
                    </div>
                </div>
                <div class="no-pay reveal">
                    <div class="mensal">
                        <p class="pay-parag">
                            Sem <br>
                            Mensalidade
                        </p>
                    </div>
                    <div class="anual">
                        <p class="pay-parag">
                            Sem <br>
                            Anuidade
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="request8">
            <!-- <div class="pegadinha reveal">
                <p class="pega-parag">
                    Sem pegadinha de valores <br>
                    no fechamento mensal
                </p>
            </div>
            <div class="line2 reveal"></div> -->
            <div class="link-section reveal">

                <div class="link-social">
                    <div class="logo-rodape">
                        <a href="https://www.instagram.com/boygo_br">
                            <img src="assets/Img/logo-insta.png" class="social-media-logo" alt=" Página do Instagram">
                        </a>
                    </div>
                    <div class="logo-rodape">
                        <a href="https://www.facebook.com/boygoaplicativo">
                            <img src="assets/Img/face-logo.png" class="social-media-logo" alt="Página do Facebook">
                        </a>
                    </div>
                    <div class="logo-rodape">
                        <a href="https://apps.apple.com/br/app/boygo/id1616420698" class="link-apple">
                            <img src="assets/Img/apple-store.png" class="apple-logo"
                                alt="Link para baixar o app na App Store">
                            <p class="logo-description">Faça o Download Aqui!</p>
                        </a>
                    </div>
                    <div class="logo-rodape">
                        <a href="https://play.google.com/store/search?q=boygo&c=apps" class="link-playstore">
                            <img src="assets/Img/google-play.png" class="playstore-logo-full"
                                alt="Link para baixar o app na Play Store">
                            <p class="logo-description">Faça o Download Aqui!</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="palma">
        <div class="request9">
            <div class="apresentation1">
                <div class="section-title2">
                    <span class="conheca reveal">
                        <div class="line"></div>
                        <p>Conheça</p>
                    </span>
                    <div class="title-info reveal">
                        <div class="title1">
                            <h2 class="main-title">
                                Tudo na <br>
                                Palma da <br>
                                Sua mão
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="request10">
            <div class="content-section4">
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/Mapa.png" class="cat-img">
                    </div>
                    <div class="category-title">
                        <p>Mapa</p>
                    </div>
                    <div class="category-descr">
                        <p>Localize-se através do mapa</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/Entregas.png" class="cat-img">
                    </div>
                    <div class="category-title">
                        <p>ENTREGAS</p>
                    </div>
                    <div class="category-descr">
                        <p>Identifique as entregas disponíveis</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/Financeiro.png" class="cat-img">
                    </div>
                    <div class="category-title">
                        <p>FINANCEIRO</p>
                    </div>
                    <div class="category-descr">
                        <p>Consulte seu extrato financeiro</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/Alertas.png" class="cat-img">
                    </div>
                    <div class="category-title">
                        <p>ALERTAS</p>
                    </div>
                    <div class="category-descr">
                        <p>Confira as notificações do APP enviadas para você</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/Chat.png" class="cat-img">
                    </div>
                    <div class="category-title">
                        <p>CHAT</p>
                    </div>
                    <div class="category-descr">
                        <p>Faça o contato com o nosso suporte</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/Perfil.png" class="cat-img">
                    </div>
                    <div class="category-title">
                        <p>PERFIL</p>
                    </div>
                    <div class="category-descr">
                        <p>Confira e edite o seu perfil</p>
                    </div>
                </div>
            </div>
            <div class="link-section2">
                <div class="logo-under reveal">
                    <img src="assets/Img/logo.png" class="logo-BG-rodape" alt="Logo BoyGo">
                </div>
                <div class="logo-rodape reveal">
                    <a href="https://apps.apple.com/br/app/boygo/id1616420698" class="link-apple">
                        <img src="assets/Img/apple-store.png" class="apple-logo"
                            alt="Link para baixar o app na App Store">
                        <p class="logo-description">Faça o Download Aqui!</p>

                    </a>
                </div>
                <div class="logo-rodape reveal">
                    <a href="https://play.google.com/store/search?q=boygo&c=apps" class="link-playstore">
                        <img src="assets/Img/google-play.png" class="playstore-logo-full"
                            alt="Link para baixar o app na Play Store">
                        <p class="logo-description">Faça o Download Aqui!</p>

                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="beneficios">
        <div class="request2">
            <div class="apresentation1">
                <div class="section-title ">
                    <span class="conheca reveal">
                        <div class="line"></div>
                        <p>Conheça</p>
                    </span>
                    <div class="title-info reveal">
                        <div class="title1">
                            <h2 class="main-title">
                                Seus <br>
                                Benefícios
                            </h2>
                        </div>
                    </div>
                    <div class="beneficios-list reveal">
                        <ul>
                            <li class="beneficio-item">
                                Receba direto no Pix;
                            </li>
                            <li class="beneficio-item">
                                Alto volume de entregas;
                            </li>
                            <li class="beneficio-item">
                                Aplicativo fácil de usar;
                            </li>
                            <li class="beneficio-item">
                                Troque pontos por produtos;
                            </li>
                            <li class="beneficio-item">
                                Suporte Técnico;
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="local-btn reveal">
                    <a href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro" target="_blank"
                        rel="noreferrer noopeneer" class="link-btn1">
                        Cadastre-se agora e já comece a usar
                    </a>
                </div>
            </div>

        </div>
    </section>
    <section class="final">
        <div class="request11">
            <div class="apresentation1 reveal">
                <span class="conheca">
                    <div class="line"></div>
                    <p>Hora de lucrar</p>
                </span>
                <div class="title-info">
                    <div class="title1">
                        <h2 class="main-title">
                            Pronto, hora <br>
                            de acelerar <br>
                            seus lucros!
                        </h2>
                    </div>
                </div>
            </div>
            <div class="quests">
                <details>
                    <summary class="question-summary reveal">
                        Como é calculado o valor das corridas?<span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">O valor é calculado por Kilometragem. De 0 à 3km o valor é de R$6,80.</p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Como recebo o valor das corridas?<span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">Você cadastra seu PIX e solicita a transferência dos valores de pedidos já
                            entregues quando quiser.</p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Após solicitar meu pagamento, quanto tempo demora para que o valor caia na minha conta?<span
                            class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">O pagamento cai no próximo dia útil.</p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Onde posso me cadastrar?<span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">Cadastre-se agora neste link: <a
                                href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro">https://boygo-dev-manager-326c3.firebaseapp.com/cadastro</a>
                        </p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Após efetuar o cadastro, quando posso começar a correr?<span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">O processo é rápido. Após enviar os documentos solicitados, o tempo para
                            liberação e utilização da plataforma é
                            de no máximo 2 horas.</p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Quando houver dúvidas, onde posso ter atendimento?<span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">Dentro do aplicativo, clique no botão “suporte” que um dos nossos
                            atendentes irá te ajudar.</p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Qual o horário de atendimento do Suporte?<span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">De Segunda à domingo, das 08h00 às 22h00.</p>
                    </div>
                </details>
            </div>
            <div class="duvidas-cntt reveal">
                <div class="duvidas-main">
                    <p class="green-duvida">
                        Ainda tem dúvidas?
                    </p>
                    <p class="channels">
                        <a href="https://wa.me/5515996771213?text=Olá" class="canal">Fale agora com nosso suporte <span
                                class="canal-span">clicando aqui</span> </a>
                    </p>
                </div>
                <div class="green-block">
                    <p>?</p>
                </div>
            </div>
            <div class="link-section">

                <div class="link-social">
                    <div class="logo-rodape">
                        <a href="https://www.instagram.com/boygo_br/">
                            <img src="assets/Img/logo-insta.png" class="social-media-logo">
                        </a>
                    </div>
                    <div class="logo-rodape">
                        <a href="https://www.facebook.com/boygoaplicativo">
                            <img src="assets/Img/face-logo.png" class="social-media-logo">
                        </a>
                    </div>
                    <div class="logo-rodape">
                        <a href="https://apps.apple.com/br/app/boygo/id1616420698" class="link-apple">
                            <img src="assets/Img/apple-store.png" class="apple-logo"
                                alt="Link para baixar o app na App Store">
                            <p class="logo-description">Faça o Download Aqui!</p>

                        </a>
                    </div>
                    <div class="logo-rodape">
                        <a href="https://play.google.com/store/search?q=boygo&c=apps" class="link-playstore">
                            <img src="assets/Img/google-play.png" class="playstore-logo-full"
                                alt="Link para baixar o app na Play Store">
                            <p class="logo-description">Faça o Download Aqui!</p>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>