<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conheça a nossa plataforma digital prestadora de serviços,
    com gestão em transportes inteligentes.">
    <title>Document</title>
</head>

<body>
    <section class="h-works">
        <div class="back3">
            <div class="apresentation2">
                <span class="conheca reveal">
                    <div class="line"></div>
                    <p>Conheça</p>
                </span>
                <div class="title-info reveal">
                    <div class="title1">
                        <h2 class="main-title">
                            Saiba <br>
                            como <br>
                            funciona
                        </h2>
                    </div>
                    <div class="logo-img">
                        <img src="assets/Img/square.png" class="half-square-img">
                    </div>
                </div>
            </div>
            <div class="simple reveal">
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/estabelecimento/pedido.png" class="cat-img" alt="Saída de um pedido">
                    </div>
                    <div class="category-title">
                        <p> Saiu pedido</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/estabelecimento/mapa.png" class="cat-img"
                            alt="Adiciona-se o endereço de entrega">
                    </div>
                    <div class="category-title">
                        <p>Adicione o endereço</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/estabelecimento/solicite-boy.png" class="cat-img"
                            alt="Solicita-se um entregador pela BoyGo">
                    </div>
                    <div class="category-title">
                        <p>Solicite um Boy</p>
                    </div>
                </div>
                <div class="category-box reveal">
                    <div class="category-ilustration">
                        <img src="assets/Img/estabelecimento/Libere-o-pedido.png" class="cat-img"
                            alt="Liberação do pedido">
                    </div>
                    <div class="category-title">
                        <p>Libere o pedido</p>
                    </div>

                </div>
            </div>

        </div>
        <div class="back4">
            <div class="post2">
                <div class="local-btn reveal">
                    <a href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro" target="_blank"
                        rel="noreferrer noopeneer" class="link-btn2">
                        CADASTRE-SE AGORA E JÁ COMECE A USAR
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="beneficios">
        <div class="back6">
            <div class="apresentation3">
                <span class="conheca reveal">
                    <div class="line"></div>
                    <p>Conheça</p>
                </span>
                <div class="title-info reveal">
                    <div class="title1">
                        <h2 class="main-title">
                            Seus <br>
                            Benefícios
                        </h2>
                    </div>
                    <div class="logo-img">
                        <img src="assets/Img/square.png" class="half-square-img">
                    </div>
                </div>
                <div class="benef-list">
                    <ul class="main-list">
                        <li class="benef-item reveal">
                            Sem comissão sob as vendas;
                        </li>
                        <li class="benef-item reveal">
                            Sem mensalidade ou anuidade;
                        </li>
                        <li class="benef-item reveal">
                            Alta disponibilidade de Motoboys;
                        </li>
                        <li class="benef-item reveal">
                            Suporte Técnico;
                        </li>
                    </ul>
                </div>
                <div class="local-btn reveal">
                    <a href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro" target="_blank"
                        rel="noreferrer noopeneer" class="link-btn2">
                        CADASTRE-SE AGORA E JÁ COMECE A USAR
                    </a>
                </div>
            </div>
        </div>
        <div class="back7">
            <div class="post3">
                <div class="title2 reveal">
                    <div class="with-BG">
                        <p>com <br> BoyGo</p>
                    </div>
                    <span class="é">
                        <p class="is">é</p>
                    </span>
                    <div class="time-sales2">
                        <p>você não <br>
                            pagar nada
                    </div>
                </div>
                <div class="info-BG reveal">
                    <p class="info-BG-parag">
                        BoyGo gerencia a intermediação e quem monetiza é seu cliente, tornando assim o seu crédito
                        rotativo
                        dentro da plataforma.
                    </p>
                </div>
                <div class="local-btn reveal">
                    <a href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro" target="_blank"
                        rel="noreferrer noopeneer" class="link-btn3">
                        CADASTRE-SE AGORA E JÁ COMECE A USAR
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="company" id="start">
        <div class="back1">
            <div class="apresentation1">
                <span class="conheca reveal">
                    <div class="line"></div>
                    <p>Conheça</p>
                </span>
                <div class="title-info reveal">
                    <div class="title1">
                        <h2 class="main-title">
                            Saiu pedido <br> e está sem <br> Boy?
                        </h2>
                    </div>
                    <div class="logo-img">
                        <img src="assets/Img/square.png" class="half-square-img">
                    </div>
                </div>
                <div class="acess-info reveal">
                    <p class="info">
                        É só acessar a plataforma que será disponibilizado para
                        acesso em seu computador ou aplicativo. Informar endereço e pronto! Em instantes o boy chegará.
                    </p>
                </div>
            </div>
        </div>
        <div class="back2">
            <div class="post1">
                <div class="title2 reveal">
                    <div class="with-BG">
                        <p>com <br> BoyGo</p>
                    </div>
                    <span class="é">
                        <p class="is">é</p>
                    </span>
                    <div class="time-sales">
                        <p>hora de vender <br>
                            mais sem pagar <br>
                            taxas</p>
                    </div>
                </div>
                <div class="garantia reveal">
                    <p class="garantia-parag reveal">Garanta Agora Seus Benefícios!</p>
                    <div class="allblack reveal"></div>
                </div>
                <div class="local-btn reveal">
                    <a href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro" target="_blank"
                        rel="noreferrer noopeneer" class="link-btn1">
                        CADASTRE-SE AGORA E JÁ COMECE A USAR
                    </a>
                </div>
            </div>
        </div>
        <div class="back5">
            <div class="under-link reveal">
                <div class="download">
                    <div class="title-app">
                        <h3 class="first-line">Baixe</h3>
                        <h3 class="sec-line">Grátis</h3>
                    </div>
                    <div class="app-img">
                        <img src="assets/Img/square.png" class="square-min">
                    </div>
                </div>
                <div class="logo-rodape">
                    <a href="https://apps.apple.com/br/app/boygo/id1616420698" class="link-apple">
                        <img src="assets/Img/apple-store.png" class="apple-logo"
                            alt="Link de download do app na App Store">
                        <p class="logo-description">Faça o Download Aqui!</p>
                    </a>
                </div>
                <div class="google-play">
                    <a href="https://play.google.com/store/search?q=boygo&c=apps" class="link-playstore">
                        <img src="assets/Img/google-play.png" class="playstore-logo-full"
                            alt="Link de download do app na Play Store">
                        <p class="logo-description">Faça o Download Aqui!</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="modalidades">
        <div class="back8">
            <div class="apresentation4">
                <span class="conheca reveal">
                    <div class="line"></div>
                    <p>Conheça</p>
                </span>
                <div class="title-info reveal">
                    <div class="title1">
                        <h2 class="main-title">
                            Modalidades <br>
                            Disponíveis
                        </h2>
                    </div>
                    <div class="logo-img">
                        <img src="assets/Img/square.png" class="half-square-img">
                    </div>
                </div>
                <div class="add-BG reveal">
                    <p class="add-parag">
                        Somos uma plataforma diversificada, para que possamos curprir com nosso propósito:
                        Agilidade e Praticidade.
                    </p>
                </div>
            </div>
        </div>
        <div class="back9">
            <div class="post4">
                <div class="motor-user">
                    <div class="motor reveal">
                        <div class="icon-box">
                            <img src="assets/Img/Utilitários.png" class="icon-delivery" alt="Entrega com utilitários">
                        </div>
                        <p class="icon-description">
                            Utilitários
                        </p>
                    </div>
                    <div class="motor reveal">
                        <div class="icon-box">
                            <img src="assets/Img/Motocicleta.png" class="icon-delivery" alt="entrega com motocicletas">
                        </div>
                        <p class="icon-description">
                            Motocicleta
                        </p>
                    </div>
                    <div class="motor reveal">
                        <div class="icon-box">
                            <img src="assets/Img/Carros.png" class="icon-delivery" alt="Entrega com carros">
                        </div>
                        <p class="icon-description">
                            Carros
                        </p>
                    </div>
                </div>
                <div class="bi-user">
                    <div class="no-motor reveal">
                        <div class="icon-box">
                            <img src="assets/Img/Bicicleta.png" class="icon-delivery" alt="Entrega com biciletas">
                        </div>
                        <p class="icon-description">
                            Bicicleta
                        </p>
                    </div>
                    <div class="no-motor reveal">
                        <div class="icon-box">
                            <img src="assets/Img/Motoelétrica.png" class="icon-delivery"
                                alt="Entrega com moto elétrica">
                        </div>
                        <p class="icon-description">
                            Moto elétrica
                        </p>
                    </div>
                    <div class="no-motor reveal">
                        <div class="icon-box">
                            <img src="assets/Img/Patinete.png" class="icon-delivery" alt="Entrega com patinete">
                        </div>
                        <p class="icon-description">
                            Patinete
                        </p>
                    </div>
                </div>
                <div class="km reveal">
                    Até 3km
                </div>
                <div class="local-btn reveal">
                    <a href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro" target="_blank"
                        rel="noreferrer noopeneer" class="link-btn1">
                        CADASTRE-SE AGORA E JÁ COMECE A USAR
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="taixinhas">
        <div class="back10">
            <div class="apresentation5">
                <div class="asterisco reveal">
                    <p class="ast">
                        *
                    </p>
                </div>
                <div class="title-central reveal">
                    <div class="upper-title-central">
                        <h3>Aqui não</h3>
                    </div>
                    <div class="main-title-central">
                        <h3>Existe</h3>
                    </div>
                    <div class="sub-title-central">
                        <h3>
                            Asterisco muito <br>
                            menos taxinhas
                        </h3>
                    </div>
                </div>
                <div class="no-pay reveal">
                    <div class="mensal">
                        <p class="pay-parag">
                            Sem <br>
                            Mensalidade
                        </p>
                    </div>
                    <div class="anual">
                        <p class="pay-parag">
                            Sem <br>
                            Anuidade
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="back11">
            <div class="pegadinha reveal">
                <p class="pega-parag">
                    Sem pegadinhas no fechamento mensal
                </p>
            </div>
            <div class="line2 reveal"></div>
            <div class="rodapé ">
                <!-- <div class="logo-under reveal">
                        <img src="assets/Img/logo.png" class="logo-BG-rodape">
                    </div> -->
                <div class="link-social ">
                    <div class="logo-rodape reveal">
                        <a href="https://www.instagram.com/boygo_br">
                            <img src="assets/Img/logo-insta.png" class="social-media-logo"
                                alt="Link página do Instagram BoyGo">
                        </a>
                    </div>
                    <div class="logo-rodape reveal">
                        <a href="https://www.facebook.com/boygoaplicativo">
                            <img src="assets/Img/face-logo.png" class="social-media-logo"
                                alt="Link página do Facebook BoyGo">
                        </a>
                    </div>
                    <div class="logo-rodape reveal">
                        <a href="https://apps.apple.com/br/app/boygo/id1616420698" class="link-apple">
                            <img src="assets/Img/apple-store.png" class="apple-logo"
                                alt="Link para download na App Store">
                            <p class="logo-description">Faça o Download Aqui!</p>
                        </a>
                    </div>
                    <div class="logo-rodape reveal">
                        <a href="https://play.google.com/store/search?q=boygo&c=apps" class="link-playstore">
                            <div class="store-link">
                                <img src="assets/Img/google-play.png" class="playstore-logo-full"
                                    alt="Link para download na Play Store">
                                <p class="logo-description">Faça o Download Aqui!</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="final">
        <div class="back12">
            <div class="apresentation4 reveal">
                <span class="conheca">
                    <div class="line"></div>
                    <p>Hora de lucrar</p>
                </span>
                <div class="title-info">
                    <div class="title1">
                        <h2 class="main-title">
                            Pronto, hora <br>
                            de alavancar <br>
                            suas vendas!
                        </h2>
                    </div>
                </div>
            </div>
            <div class="quests">
                <details>
                    <summary class="question-summary reveal">
                        Como é feito o pagamento? <span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">Você credita o valor desejado na plataforma e,
                            conforme solicita o Boy, as entregas vão sendo descontadas do valor creditado inicialmente.
                        </p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Como é calculado o valor das corridas? <span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">O valor é calculado por Kilometragem. De 0 à 3km o valor é de R$6,80. </p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Qual é a disponibilidade de Motoboys? <span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">Alta disponibilidade todos os dias. </p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Após solicitar o Boy, qual tempo aproximado para sua chegada no meu estabelecimento?<span
                            class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">Nossa plataforma conta com um sistema inteligente que solicita o Boy mais
                            próximo do seu
                            endereço para que o tempo de chegada dele seja rápido. Além disso, você pode acompanhar no
                            mapa o percurso do
                            Boy em tempo real.
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Existe alguma taxa de adesão ou taxa sob vendas?<span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">Na BoyGo não há taxa alguma. Você paga apenas se usar.</p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Onde posso cadastrar meu estabelecimento?<span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">Neste link <a
                                href="https://boygo-dev-manager-326c3.firebaseapp.com/cadastro">
                                https://boygo-dev-manager-326c3.firebaseapp.com/cadastro</a>
                        </p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Quando houver dúvidas, onde posso ter atendimento do suporte?<span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">Dentro do aplicativo, clique no botão “suporte” que um dos nossos
                            atendentes irá te ajudar. </p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Qual o horário de atendimento do Suporte? <span class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">De Segunda à domingo, das 08h00 às 22h00.</p>
                    </div>
                </details>
                <details>
                    <summary class="question-summary reveal">
                        Após efetuar o cadastro, em quanto tempo posso começar a utilizar a plataforma?<span
                            class="plus">+</span>
                    </summary>
                    <div class="answer">
                        <p class="ans-parag">O processo é rápido. Após enviar os documentos solicitados, o tempo para
                            liberação e utilização da plataforma é de no máximo 2 horas.</p>
                    </div>
                </details>

            </div>
            <div class="duvidas-cntt reveal">
                <div class="duvidas-main">
                    <p class="green-duvida">
                        Ainda tem dúvidas?
                    </p>
                    <p class="channels">
                        <a href="" class="canal">Fale agora com nosso suporte <span class="canal-span">clicando
                                aqui</span> </a>
                    </p>
                </div>
                <div class="green-block">
                    <p>?</p>
                </div>
            </div>
            <div class="rodapé">
                <div class="link-social">
                    <div class="logo-rodape">
                        <a href="https://www.instagram.com/boygo_br/">
                            <img src="assets/Img/logo-insta.png" class="social-media-logo"
                                alt="Link página do Instagram BoyGo">
                        </a>
                    </div>
                    <div class="logo-rodape">
                        <a href="https://www.facebook.com/boygoaplicativo">
                            <img src="assets/Img/face-logo.png" class="social-media-logo"
                                alt="Link página do Facebook BoyGo">
                        </a>
                    </div>
                    <div class="logo-rodape">
                        <a href="https://apps.apple.com/br/app/boygo/id1616420698" class="link-apple">
                            <img src="assets/Img/apple-store.png" class="apple-logo"
                                alt="Link para download na App Store">
                            <p class="logo-description">Faça o Download Aqui!</p>
                        </a>
                    </div>
                    <div class="logo-rodape">
                        <a href="https://play.google.com/store/search?q=boygo&c=apps" class="link-playstore">
                            <div class="store-link">
                                <img src="assets/Img/google-play.png" class="playstore-logo-full"
                                    alt="Link para download na Play Store">
                                <p class="logo-description">Faça o Download Aqui!</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>